{% extends "base.html" %}

{% block title_name %}
  Contact
{% endblock %}

{% block content %}
  {% include "schools/includes/header.html" %}
  {% comment %} <form>
    {{ contact }}
    <button>Send</button>
  </form> {% endcomment %}
  
  <form method="POST">
    {% csrf_token %}
    <label for="username">Your Name</label>
    <input id="username" name="user-name" type="text">
    <button>Send</button> 
    {% comment %} default type is submit like <button type="submit">Send</button> {% endcomment %}
  </form>

{% endblock%}

