{% extends "base.html" %}

{% block title_name %}Ujjwal Eduction{% endblock %}


{% block content %}
  {% include "schools/includes/header.html" %}

  <p>
    Ujjwal education is the initiation focused on kids to develop the making culture in Kids. We are focused on the involvement of innovative minds of kids in the technology field so they come up with creative ideas. Ujjwal education not only provides technical knowledge but also focused on the development of leadership quality, mass communication, and personality. We believe kids can do amazing things when familiar with the latest technology like Drone technology, 3-D printing.
  </p>

  <h3>Vision</h3>

  <p>
    To make the children building blocks of technological invention in Nepal.
  </p>

  <h3>Mission</h3>

  <p>
    <ol>
      <li>
        To start innovative initiatives under Ujjwal Education to promote making education in children such as Prayogsala.
      </li>
      <li>
        To become one of the important contributors in making the children education better.
      </li>
    </ol>
  </p>
  
  <h3>Objective of Ujjwal Education</h3>

  <p>
    <ol>
      <li>
        To provide an experimental and practical foundation for the theoretical concepts introduced in the educational syllabus while having fun.
      </li>
      <li>
        To familiarize kids with experimental tools, the scientific method, and use of electronics tools.
      </li>
      <li>
        To initiate problem-solving and design thinking skills in kids.
      </li>
      <li>
        To introduce new concepts and techniques which have a wide application in practical learning.
      </li>
    </ol>
  </p>

  <h3>Program conducted under Ujjwal Education</h3>

  <h4>Prayogsala</h4>

  <p>
    Why the students who are educated in school never possess the skill to solve problems. Why don’t they have conﬁdence to innovate? Why they see themselves never capable of experimenting and ﬁnding something new? What if they are equipped with knowledge and techniques to create something. What if they are trained well, educated enough, go through hands-on learning activities along with lifetime experience workshops. Prayogsala is makerspace training packages which solve questions and promote maker education in Nepal for children.
  </p>

  <h4>Makerspace</h4>

  <p>
    To increase the ability of students in designing and playing with electronics, Makerspace is a STEAM Lab initiated as part of Prayogsala as after we started our courses at Kanjirowa International School, we realized there is a need of lab where students can come tinker themselves up. After that, it was established in Ideal Model school along with Pragya Kunja School. Students of Class 4 &amp; 5, Class 6, 7 &amp; 8 have currently joined the lab and enjoying innovation-related activities. Also, STEAM LAB has fully set up and gone to place for current students. Makerspace could be your STEAM lab as a valuable asset to make the student think differently while learning as it needs to be well equipped. We have a list of tools that are needed for making your Makerspace the best place to go after the school.
  </p>

  <p>
    If you want to set up makerspace within your school. Please contact us at 9841024507.
  </p>

  <h4>Model of a program under Ujjwal Education</h4>

  <p>
    We have been running two types of model at the present:
    
    <ol>
      <li>
        Whole day classes for school
      </li>
      <li>  
        After school program
      </li>
    </ol>
  </p>
{% endblock %}

